<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="net.martenscs.wso2.rap.app" sequenceNumber="12">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="2.1.2.20140210-0628"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
</locations>
</target>
